<h1>Dashboard</h1>
<% if notice && notice != '' %>
	<p id="notice"><%= notice %></p>
<% end %>
<div class="consumable-object-panel" >
	<% ConsumableObject.all.each do |obj| %>
	   <div class="consumable-object-button">
 	     <%= link_to "#{obj.name}", consumed_units_path(:consumed_unit => {:unit => obj.unit, :amount => obj.amount, :consumable_type_id => obj.consumable_type.id, :consumable_object_id => obj.id}), :method => :post, :id => "consumable-object #{obj.name}" %>
 	   </div>
	<% end %>
</div>

<div class="consumed-unit-panel">
	<div class="all-consumed-units">
		<table>
			<tr>
				<td>Type</td>
				<td>Amount</td>
				<td>Unit</td>
				<td>Time</td>
				<td>Delete</td>
			</tr>
			<% ConsumedUnit.all.each do |unit| %>
			<tr>
				<td><%= unit.consumable_type.name %></td>
				<td><%= unit.amount %></td>
				<td><%= unit.unit %></td>
				<td><%= unit.created_at.in_time_zone('Central Time (US & Canada)') %></td>
				<td><%= link_to "X", unit, method: :delete%></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>

<div class="consumed-unit-data">
	<table>
		<tr>
			<td>Type</td>
			<td>Total Consumed</td>
		</tr>
	<% ConsumableType.all.each do |type| %>
	    <tr>
	    	<td><%= type.name %></td>
	    	<td><%= ConsumedUnit.sum(:amount, :conditions => {:consumable_type_id => type.id}) %></td>
	    </tr>
	<% end %>
    </table>

</div>

<%= raw("<div class=\'consumable-type-data\' data-values=\'" + @type_colors.to_json.html_safe + "\'></div>" )%>

<div class="timeline">
	<h>Timeline</h>
	<%= raw("<div class=\'consumed-unit-timeline-data\' data-values=\'" + @consumed_today.to_json.html_safe + "\'></div>" )%>
	<div class="canvas_container" id="consumed-unit-timeline"></div>
</div>


<% ConsumableObject.all.each do |co| %>
	<div class="consumable-object-chart">
		<div class="consumable-object-hourly-data" data-values='<%= @consumable_objects_consumed_by_hour[co.name] %>' data-name="<%= co.name %>"></div>
		<h><%= co.name %></h>
		<div class="canvas_container" id="<%= co.name %>_consumed_units_chart"></div>
	</div>
<% end %>

<% ConsumableObject.all.each do |co| %>
	<div class="consumable-object-histogram">
		<%= raw ("<div class=\'consumable-object-histogram-data\' data-values=\'" + @consumable_objects_by_day[co.name].to_json.html_safe + "\' data-name=\'" + co.name + "\' data-first=\'" + @first_date_consumed.to_json.html_safe + "\'></div>") %>
		<h><%= co.name %></h>
		<div class="canvas_container" id="<%= co.name %>_histogram"></div>
	</div>
<% end %>

<%= link_to 'New ConsumableType', new_consumable_type_path %>
<%= link_to 'New ConsumableObject', new_consumable_object_path %>
