<%= form_for(@consumed_unit) do |f| %>
  <% if @consumed_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumed_unit.errors.count, "error") %> prohibited this consumed_unit from being saved:</h2>

      <ul>
      <% @consumed_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :consumable_type_id %><br>
    <%= f.collection_select(:consumable_type_id, ConsumableType.all, :id, :name, {include_blank: true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
