<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dashboard.name %>
</p>

<p>
  <strong>Widgets:</strong>
  <%= @dashboard.widgets %>
</p>

<p>
  <strong>Show:</strong>
  <%= @dashboard.show %>
</p>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
